

@media screen and (max-width: 100px) {
    .left, .main, .right {
      width: 50%; /* The width is 100%, when the viewport is 800px or smaller */
    }
  }
  /* Media Queries: Tablet Landscape */
  @media screen and (max-width: 1060px) {
    #primary { width:67%; }
    #secondary { width:30%; margin-left:3%;}  
  }
  
  /* Media Queries: Tabled Portrait */
  @media screen and (max-width: 768px) {
    #primary { width:100%; }
    #secondary { width:100%; margin:0; border:none; }
  }
  
  
  
  * {box-sizing:border-box;}
  
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    transition: 0.6s ease;
    
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    border-radius: 15px 0px 0px 15px;
    right:  0;
   
  }
  .prev{
    border-radius: 0px 15px 15px 0px;
    left: 0;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  .prev img, .next img{
    height: 75%;
    width: 75%;
  }
  
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fading {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  #homeButton{
        
    position: absolute ;
    right: 0%;
    top: 0%;
    height: 85px;
    width: 100px;
    background-image: url("../images/home-icon-1.png");
    background-repeat: no-repeat;
    background-size: 100%;
    cursor: pointer;  
    border: none;
    margin: 10px 10px 0px 0px;
  
  }
  
  @media only screen
  {
      
    .mySlides{
      /* max-width:200%;
      max-height: 100%; */
     
      overflow: hidden;
      position: relative;
      margin-top: 0px;
      margin-left: -50px;
    
    }
    #homeButton{
      height: 85px;
      width: 100px;
    }
    #learningButton{
      height: 85px;
      width: 100px;
    }  
    audio{
      position: relative;
      /* left: 40%; */
      top: 5px;
      margin: 0 auto; 
  
  
    }
    .mySlides{
      max-width:100%;
      max-height: 100%;
      overflow: hidden;
      position: relative;
      margin: 0 auto;
      /* left: 33%; */
      /* margin-top: 150px; */
      /* padding-left: 150px; */
    }
  
    #name-banner{
      width: 100%;
    }
      
  }
  /* On screens with a maximum window width of 1280px */
  @media screen and (max-width: 1280px)
  {
      
  .mySlides{
    max-width:100%;
    max-height: 100%;
   
    overflow: hidden;
    position: relative;
    /* left: 0%; */
    /* margin-top: 500px; */
    /* padding-left: 150px; */
  
  }
  
  audio{
    position: relative;
    /* left: 35%; */
    /* top: 450px; */
  
  }
  #homeButton{
    height: 43px;
    width: 50px;
  }
  #learningButton{
    height: 43px;
    width: 50px;
  }
  
  }
  /* On all screen types with a window width of between 1024px and 1280px */
  @media all and (min-width: 1024px) and (max-width: 1280px)
  {
  
    .mySlides{
      /* max-width:75%;
      max-height: 100%; */
     
      overflow: hidden;
      position: relative;
      /* left: 25%; */
      /* margin-top: 350px; */
      /* padding-left: 50px; */
    
    }
    
  audio{
    position: relative;
    /* left: 35%; */
    /* top: 350px; */
  
  }
    #homeButton{
        height: 80px;
        width: 90px;
    }
    #learningButton{
      height: 80px;
        width: 90px;
    }
  }
  @media only screen and (max-width: 768px) {
    
  .mySlides{
    max-width:100%;
    max-height: 100%;
   
    overflow: hidden;
    position: relative;
    /* left: 0%; */
    /* margin-top: 350px; */
    /* padding-left: 150px; */
  
    }
    audio{
      position: relative;
      /* left: 30%; */
      /* top: 300px; */
  
    }
    #homeButton{
      height: 43px;
      width: 50px;
    }
    #learningButton{
      height: 43px;
      width: 50px;
    }
    }
  
    @media only screen and (max-width: 653px) {
    
      .mySlides{
        max-width:200%;
        max-height: 100%;
       
        overflow: hidden;
        position: relative;
        /* left: -20%; */
        /* margin-top: 400px; */
        /* margin-left: -50px; */
      
      }
      #homeButton{
        height: 43px;
        width: 50px;
    }
    #learningButton{
      height: 43px;
      width: 50px;
    }
        }
  
          

        #contactUsButton, #demoLinkButton, #aboutUsButton{
            padding: 5px 10px 5px 10px!important;
            font-size: 16px;
            background-color: #7280BC;
            font-weight: bold;
            text-shadow: 1px 1px #7280BC;
            color: white;
            border-radius: 10px;
            -moz-border-radius: 5px;
            -webkit-border-radius: 5px;
            border: 1px solid #7280BC;
            height: 40px;
            cursor: pointer;
          
          }

          #contactUs-div{
              /* float:left;  */
              position:absolute;
              top: 80%;
              transform: translateY(-50%);
              left:43%
          }
          #demoLink-div{
            /* float:left;  */
            position:absolute;
            top: 90%;
            transform: translateY(-50%);
            left: 74%;
        }
        #aboutUs-div{
          /* float:left;  */
          position:absolute;
          top: 90%;
          transform: translateY(-50%);
          left:21%
      }

          
          #contactUsButton span, #demoLinkButton span, #aboutUsButton span {
            cursor: pointer;
            display: inline-block;
            position: relative;
            transition: 0.5s;
          }
          
.arrow1 {
    animation: slide1 1s ease-in-out infinite;
    margin-left: 9px;
  }
  
  .arrow2{
    animation: slide2 1s ease-in-out infinite;
    margin-left: 9px;
  }

  
@keyframes slide1 {
    0%,
    100% {
      transform: translate(0, 0);
    }
  
    50% {
      transform: translate(10px, 0);
    }
  }
  @keyframes slide2 {
    0%,
    100% {
      transform: translate(0, 0) ;
    }
  
    50% {
      transform: translate(10px, 0);
    }
  }
  
@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}

#loginButton-div{
  overflow: hidden;
  position: absolute;
  top: 35%;
  transform: translateY(-50%);
  left: 30%;
}
#registerButton-div{
  overflow: hidden;
  position: absolute;
  top: 35%;
  transform: translateY(-50%);
  left: 55%;
}

#learnButton-div{
    overflow: hidden;
    position: absolute;
    top: 69%;
    transform: translateY(-50%);
    left: 37%;
}

.arrow1 {
  animation: slide1 1s ease-in-out infinite;
  margin-left: 9px;
}

.arrow2{
  animation: slide2 1s ease-in-out infinite;
  margin-left: 9px;
}
  .btn-custom{
    padding: 0px;
    border: none;
    background-color: #6c82bc;
    border-color: #6c82bd;
    color: #ffffff;
    margin-bottom: 10px;
  }
  
  .btn-custom:hover, .btn-custom:focus, .btn-custom:active{
    background-color: #566897;
    border-color: #566897;
    color: #ffffff;
  }