.learning, .quiz{

}
#quizNum1{

  background: url('../images/quiz-aeroplane-resize.png');
    
  background-repeat: no-repeat;
  background-size:80%;
  background-position: center;
  float: left;
  margin: 0px 50px 0px 0px;
 
}
#quizNum2{

  background: url('../images/quiz-brush-resize.png');
    
  background-repeat: no-repeat;
  background-size:80%;
  background-position: center;
  float: left;
  margin: 0px 50px 0px 0px;
  
}

#quizNum3{

  background: url('../images/quiz-icecream-resize.png');
 
}

#learnModule1{

  background: url('../images/quiz-aeroplane-resize.png');
 
}
#learnModule2{

  background: url('../images/quiz-brush-resize.png');
  
}

#learnModule3{

  background: url('../images/quiz-icecream-resize.png');
 
}


.quest{
    height: 200px;
    width: 250px;
    border-radius: 25px;
    border: none;
    position: relative;
    left: 50%;
    top: 50%;
  }
  .main-div{

    position: fixed;
    left: 5%;
    top: 25%;
    margin-top: 40px;
}
  