

@media screen and (max-width: 100px) {
  .left, .main, .right {
    width: 50%; /* The width is 100%, when the viewport is 800px or smaller */
  }
}
/* Media Queries: Tablet Landscape */
@media screen and (max-width: 1060px) {
  #primary { width:67%; }
  #secondary { width:30%; margin-left:3%;}  
}

/* Media Queries: Tabled Portrait */
@media screen and (max-width: 768px) {
  #primary { width:100%; }
  #secondary { width:100%; margin:0; border:none; }
}



* {box-sizing:border-box;}


/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: fixed;
  top: 50%;
  width: auto;
  margin-top: -22px;
  transition: 0.6s ease;
  
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  border-radius: 15px 0px 0px 15px;
  right:  -4%;
 
}
.prev{
  border-radius: 0px 15px 15px 0px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.1);
}

.prev img, .next img{
  height: 75%;
  width: 75%;
}


/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}



#homeButton{
      
  position: absolute ;
  right: 0%;
  top: 0%;
  height: 85px;
  width: 100px;
  background-image: url("../images/home-icon-1.png");
  background-repeat: no-repeat;
  background-size: 100%;
  cursor: pointer;  
  border: none;
  margin: 10px 10px 0px 0px;

}

@media only screen
{
    
.mySlides{
  max-width:75%;
  max-height: 100%;
  overflow: hidden;
  position: relative;
  left: 23%;
  margin-top: 150px;
  padding-left: 150px;
}
#name-banner{
  width: 100%;
}
    
}
/* On screens with a maximum window width of 1280px */
@media screen and (max-width: 1280px)
{
    
.mySlides{
  max-width:100%;
  max-height: 100%;
 
  overflow: hidden;
  position: relative;
  left: 0%;
  margin-top: 500px;
  padding-left: 150px;

}
#homeButton{
  height: 43px;
  width: 50px;
}

}
/* On all screen types with a window width of between 1024px and 1280px */
@media all and (min-width: 1024px) and (max-width: 1280px)
{

  .mySlides{
    max-width:75%;
    max-height: 100%;
   
    overflow: hidden;
    position: relative;
    left: 25%;
    margin-top: 150px;
    padding-left: 150px;
  
  }
  #homeButton{
    height: 43px;
    width: 50px;
}
}
@media only screen and (max-width: 768px) {
  
.mySlides{
  max-width:100%;
  max-height: 100%;
 
  overflow: hidden;
  position: relative;
  left: 0%;
  margin-top: 400px;
  padding-left: 100px;

}
#homeButton{
  height: 43px;
  width: 50px;
}
  }

  @media only screen and (max-width: 653px) {
  
    .mySlides{
      max-width:200%;
      max-height: 100%;
     
      overflow: hidden;
      position: relative;
      left: -20%;
      margin-top: 400px;
      margin-left: -50px;
    
    }
    #homeButton{
      height: 43px;
      width: 50px;
  }
      }
      /* body{
        background: url("../images/bck.jpg");
      } */