body {font-family: Arial, Helvetica, sans-serif;}

/* The Modal (background) */
.modal {
  
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  
  
}

#main-container{
  height: 100vh;
  display: flex;
}

/* Modal Content */
.modal-content {
  
  background: url("../images/welcome-prompt.png");
  background-repeat: no-repeat;
  background-size: 100%;
  margin: auto;
  padding: 50px;
  /* width: 45%; */
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -90px;
  margin-left: -140px;
  
}

/* The Close Button */
.close {
  background-image: url("../images/close-trans.png");
  float: right;

  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#student-name{
    overflow: hidden;
}

#submitbutton{

  background-color: #6C81BB;

  border-color: #6C81BB;

  font-family: "Brush Script MT", cursive;  
  align-content: center;
}

#quizButton{
  padding: 10px 15px 11px 5px!important;
  font-size: 24px !important;
  background-color: #7280BC;
  font-weight: bold;
  text-shadow: 1px 1px #7280BC;
  color: white;
  border-radius: 10px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 1px solid #7280BC;
  height: 65px;
  /* border: none; */
  cursor: pointer;

  /* position: fixed;
  top: 50%;
  left: 50%;
  margin-top: 0px;
  margin-left: 0px; */

}
#quizButton-div{
    /* float:left;  */
    position:absolute;
    top: 50%;
    transform: translateY(-50%);
    left:52%
}

#learnButton{
  padding: 10px 15px 11px !important;
  font-size: 24px !important;
  background-color: #7280BC;
  font-weight: bold;
  text-shadow: 1px 1px #7280BC;
  color: #ffffff;
  border-radius: 10px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 1px solid #7280BC;
  cursor: pointer;
  height: 65px;
  /* position: fixed;
  top: 50%;
  left: 50%;
  margin-top: 120px;
  margin-left: -140px; */
  

}
#learnButton span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}


#quizButton span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

#loginButton,#registerButton {
  padding: 10px !important;
  font-size: 18px !important;
  background-color: #7280BC;
  font-weight: bold;
  text-shadow: 1px 1px #7280BC;
  color: #ffffff;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 1px solid #7280BC;
  cursor: pointer;

}
#helpButton {
  font-size: 18px !important;
  background-color: white;
  font-weight: bold;
  /* text-shadow: 1px 1px #7280BC; */
  color: #ffffff;
  border-color: white;
   border-radius: 20px;
  /* -moz-border-radius: 10px; */
  /* -webkit-border-radius: 10px; */ 
  /* border: 1px solid #7280BC; */
  cursor: pointer;

  /* position: fixed;
  top: 50%;
  left: 50%;
  margin-top: 120px;
  margin-left: -140px; */
  

}
#helpButton-div{
  /* float:left;  */
  border-radius: 20px;
  position:absolute;
  top: 29%;
  transform: translateY(-75%);
  left:73%
}

#helpButton{
  cursor: pointer;
  display: inline-block;
  position: relative;
  box-shadow: none;
  border: 0;
  
  border-radius: 20px;
	transform: scale(1);
	animation: pulse 2s infinite;
}

@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}

#loginButton-div{
  overflow: hidden;
  position: absolute;
  top: 35%;
  transform: translateY(-50%);
  left: 30%;
}
#registerButton-div{
  overflow: hidden;
  position: absolute;
  top: 35%;
  transform: translateY(-50%);
  left: 55%;
}

#learnButton-div{
    overflow: hidden;
    position: absolute;
    top: 69%;
    transform: translateY(-50%);
    left: 37%;
}

.arrow1 {
  animation: slide1 1s ease-in-out infinite;
  margin-left: 9px;
}

.arrow2{
  animation: slide2 1s ease-in-out infinite;
  margin-left: 9px;
}
@keyframes slide1 {
  0%,
  100% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(10px, 0);
  }
}
@keyframes slide2 {
  0%,
  100% {
    transform: translate(0, 0) ;
  }

  50% {
    transform: translate(10px, 0);
  }
}

@media (min-width: 576px) { 
  .container{
    width: 100%;
    max-width: 100%;
  }

 }


 @media only screen and (max-width: 610px), only screen and (max-device-width: 610px) and (orientation:landscape)
{
    body
    {
        background:#993;
    }
}





