body {font-family: Arial, Helvetica, sans-serif;}

/* The Modal (background) */
.modal {
  
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  
  
}

/* Modal Content */
.modal-content {
  
  background: url("../images/welcome-prompt.png");
  background-repeat: no-repeat;
  background-size: 100%;
  margin: auto;
  padding: 50px;
  /* width: 45%; */
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -90px;
  margin-left: -140px;
  
}

/* The Close Button */
.close {
  background-image: url("../images/close-trans.png");
  float: right;

  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#student-name{
    overflow: hidden;
}

#submitbutton{

  background-color: #6C81BB;

  border-color: #6C81BB;

  font-family: "Brush Script MT", cursive;  
  align-content: center;
}

#quizButton{
  padding: 10px 15px 11px !important;
  font-size: 18px !important;
  background-color: #7280BC;
  font-weight: bold;
  text-shadow: 1px 1px #7280BC;
  color: #ffffff;
  border-radius: 10px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 1px solid #7280BC;
  cursor: pointer;

  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -25px;
  margin-left: 50px;

}
#quizButton-div{
    float:left; 
}

#learnButton{
  padding: 10px 15px 11px !important;
  font-size: 18px !important;
  background-color: #7280BC;
  font-weight: bold;
  text-shadow: 1px 1px #7280BC;
  color: #ffffff;
  border-radius: 10px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 1px solid #7280BC;
  cursor: pointer;

  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: 90px;
  margin-left: -90px;
  

}
#learnButton span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

#learnButton span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

#learnButton:hover span {
  padding-right: 25px;
}

#learnButton:hover span:after {
  opacity: 1;
  right: 0;
}

#quizButton span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

#quizButton span:before {
  content: '\00AB';
  position: absolute;
  opacity: 0;
  top: 0;
  right: 50px;
  transition: 0.5s;
}

#quizButton:hover span {
  padding-left: 25px;
}

#quizButton:hover span::before {
  opacity: 1;
}
/* 
body{

  background: url('../images/bck.jpg');

} */

#learnButton-div{
    overflow: hidden;
}
.wrap {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  min-width: 300px;
  min-height: 60px;
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: 700;
  color: #313133;
  background: #4FD1C5;
background: linear-gradient(90deg, rgba(129,230,217,1) 0%, rgba(79,209,197,1) 100%);
  border: none;
  border-radius: 1000px;
  box-shadow: 12px 12px 24px rgba(79,209,197,.64);
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 10px;
  }

button::before {
content: '';
  border-radius: 1000px;
  min-width: calc(300px + 12px);
  min-height: calc(60px + 12px);
  border: 6px solid #00FFCB;
  box-shadow: 0 0 60px rgba(0,255,203,.64);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all .3s ease-in-out 0s;
}

.button:hover, .button:focus {
  color: #313133;
  transform: translateY(-6px);
}

button:hover::before, button:focus::before {
  opacity: 1;
}

button::after {
  content: '';
  width: 30px; height: 30px;
  border-radius: 100%;
  border: 6px solid #00FFCB;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: ring 1.5s infinite;
}

button:hover::after, button:focus::after {
  animation: none;
  display: none;
}

@keyframes ring {
  0% {
    width: 30px;
    height: 30px;
    opacity: 1;
  }
  100% {
    width: 300px;
    height: 300px;
    opacity: 0;
  }
}
@media only screen
{
  #background-img{
    position: fixed;
   
    left: 25%;
    width: 50%;
    height: auto;
  }   
    
}
/* On screens with a maximum window width of 1280px */
@media screen and (max-width: 1280px)
{
    
  #background-img{
    position: fixed;
    top: 23%;
    left: 0%;
    width: 100%;
    height: auto;
  }   

}
/* On all screen types with a window width of between 1024px and 1280px */
@media all and (min-width: 1024px) and (max-width: 1280px)
{

  #background-img{
    position: fixed;
    top: 25%;
    left: 25%;
    width: 50%;
    height: auto;
  }

}
@media only screen and (max-width: 768px) {
  
  #background-img{
    position: fixed;
    top:24%;
    left: 0%;
    width: 100%;
    height: auto;
  }

}

@media only screen and (max-width: 653px) {
  
  #background-img{
    position: fixed;
    top: 24%;
    width: 100%;
    height: auto;
  }
}


