body {font-family: Arial, Helvetica, sans-serif;}

/* The Modal (background) */
.modal {
  
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  
  
}

/* Modal Content */
.modal-content {
  
  background: url("../images/welcome-prompt.png");
  background-repeat: no-repeat;
  background-size: 100%;
  margin: auto;
  padding: 50px;
  /* width: 45%; */
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -90px;
  margin-left: -140px;
  
}

/* The Close Button */
.close {
  background-image: url("../images/close-trans.png");
  float: right;

  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#student-name{
    overflow: hidden;
}

#submitbutton{

  background-color: #6C81BB;

  border-color: #6C81BB;

  font-family: "Brush Script MT", cursive;  
  align-content: center;
}

#quizButton{
  padding: 10px 15px 11px 5px!important;
  font-size: 18px !important;
  background-color: #7280BC;
  font-weight: bold;
  text-shadow: 1px 1px #7280BC;
  color: #ffffff;
  border-radius: 10px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 1px solid #7280BC;
  cursor: pointer;

  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: 0px;
  margin-left: 0px;

}
#quizButton-div{
    float:left; 
}

#learnButton{
  padding: 10px 15px 11px !important;
  font-size: 18px !important;
  background-color: #7280BC;
  font-weight: bold;
  text-shadow: 1px 1px #7280BC;
  color: #ffffff;
  border-radius: 10px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 1px solid #7280BC;
  cursor: pointer;

  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: 120px;
  margin-left: -140px;
  

}
#learnButton span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}


#quizButton span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}


/* 
body{

  background: url('../images/bck.jpg');

} */

#learnButton-div{
    overflow: hidden;
}

.arrow1 {
  animation: slide1 1s ease-in-out infinite;
  margin-left: 9px;
}
.arrow2{
  animation: slide2 1s ease-in-out infinite;
  margin-left: 9px;
}
@keyframes slide1 {
  0%,
  100% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(10px, 0);
  }
}
@keyframes slide2 {
  0%,
  100% {
    transform: translate(0, 0) ;
  }

  50% {
    transform: translate(10px, 0);
  }
}
@media only screen
{
  #background-img{
    position: fixed;
   
    left: 25%;
    width: 45%;
    height: auto;
  }   
    
}
/* On screens with a maximum window width of 1280px */
@media screen and (max-width: 1280px)
{
    
  #background-img{
    position: fixed;
    top: 23%;
    left: 0%;
    width: 100%;
    height: auto;
  }   
  
  #quizButton{
    margin-top: 0px;
    margin-left: 30px;
}
  #learnButton{
    margin-top: 190px;
    margin-left: -100px;

  }

}

/* On all screen types with a window width of between 1024px and 1280px */
@media all and (min-width: 1024px) and (max-width: 1280px)
{

  #background-img{
    position: fixed;
    top: 25%;
    left: 25%;
    width: 50%;
    height: auto;
  }
  
  #quizButton{
    margin-top: 100px;
    margin-left: 30px;
}
  #learnButton{
    margin-top: 190px;
    margin-left: -100px;

  }

}
@media only screen and (max-width: 768px) {
  
  #background-img{
    position: fixed;
    top:24%;
    left: 0%;
    width: 100%;
    height: auto;
  }
  #quizButton{
    margin-top: 50px;
    margin-left: 30px;
}
  #learnButton{
    margin-top: 190px;
    margin-left: -100px;

  }

}
@media only screen and (max-width: 1080px) {
  
  #background-img{
    position: fixed;
    top: 24%;
    width: 100%;
    height: auto;
  }
  #quizButton{
    margin-top: 50px;
    margin-left: 30px;
}
  #learnButton{
    margin-top: 190px;
    margin-left: -100px;

  }
}

@media only screen and (max-width: 653px) {
  
  #background-img{
    position: fixed;
    top: 24%;
    width: 100%;
    height: auto;
  }
}




