
#vertical{
    height: 250px;
    line-height: 250px;
    text-align: center;

}
#progressBar{
    position: fixed;
    z-index: 1;
    top: 50%;
    left: 50%;
    margin-top: 20px;
    margin-left: -50px;
    
}


.quest{
    height: 200px;
    width: 250px;
    border-radius: 25px;
    border: none;
    
}
  
tr, td{
    margin-left: 35px;
    margin-right: 35px;
    padding: 35px;
}

#q1op1, #q2op4, #q5op3, #q6op4{

    background: url('../images/quiz-aeroplane.png');
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
    float: left;
}
#q1op2, #q3op1, #q5op4, #q4op3 {

    background: url('../images/quiz-baby.png');
    
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
    float: left;
}
#q1op3, #q3op3, #q5op1, #q6op1 {

    background: url('../images/quiz-brush.png');
    
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
    float: left;
}
#q1op4, #q2op3,#q6op2, #q4op2 {

    background: url('../images/quiz-icecream.png');
    background-repeat: no-repeat;
    background-size:80%;
    background-position: center;
    float: left;
}
#q2op1,  #q6op3, #q4op1,#q3op2 {

    background: url('../images/quiz-snake.png');
    
    background-repeat: no-repeat;
    background-size:80%;
    background-position: center;
    float: left;
}
#q2op2, #q3op4,#q5op2, #q4op4{

    background: url('../images/quiz-train.png');
    
    background-repeat: no-repeat;
    background-size:80%;
    background-position: center;
    float: left;
}


#intmd-img{
    
    max-width:500px;
    max-height:750px;   
    overflow: hidden;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -250px;
    margin-left: -250px;
      
}
.fill {object-fit: fill;}
.contain {object-fit: contain;}
.cover {object-fit: cover;}
.scale-down {object-fit: scale-down;}
.none {object-fit: none;}

#play-again{
    background: url('../images/play-32.png') no-repeat;
    cursor: pointer;
  
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: 60px;
    margin-left: 110px;
    height: 32px;
    width: 32px;
    border: none;
}

play-again:hover{
    background-color: rgba(0,0,0,0.1);
}

#homeButton{
    position: fixed ;
    right: 0%;
    top: 0%;
    height: 90px;
    width: 100px;
    background-image: url("../images/home-icon.png");
    background-repeat: no-repeat;
    background-size: 100%;
    cursor: pointer;  
    border: none;
  
  }
/* On all vertically oriented types of screens */
@media only screen
{
    .question-div{

        overflow: hidden;
        position: fixed;
        left: 25%;
        margin-top: 40px;
    }
    #title{
        width: 50%;
        margin-left: 50px;
    }
    
    
}
/* On screens with a maximum window width of 1280px */
@media screen and (max-width: 1280px)
{
    .question-div{

        overflow: hidden;
        position: fixed;
        left: 10%;
        top: 25%;
        margin-top: 40px;
    }
    #title{
        width: 50%;
        margin-left: 100px;
    }
    

}
/* On all screen types with a window width of between 1024px and 1280px */
@media all and (min-width: 1024px) and (max-width: 1280px)
{
    .question-div{

        overflow: hidden;
        position: fixed;
        left: 10%;
        top: 25%;
        margin-top: 40px;
    }
    #title{
        width: 50%;
        margin-left: 150px;
    }
    
}
@media only screen and (max-width: 768px) {
    .question-div{

        overflow: hidden;
        position: fixed;
        left: 5%;
        top: 25%;
        margin-top: 40px;
    }
    #title{
        width: 50%;
        margin-left: 150px;
    }
    
  }


  