#progressBar{
    margin: 0 auto;
    /* position: absolute;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin: 0 auto; */
    /* left: 50%; */
    /* margin-top: 20px; */
    /* margin-left: -100px; */
    
}

.quest{
    height: 200px;
    width: 250px;
    border-radius: 25px;
    border: none;
    
}
  
audio{
    cursor: pointer;
}

#intmd-img{
    
    /* max-width:500px;
    max-height:750px;   
    overflow: hidden;
    position: fixed;
    top: 50%;
    left: 50%;
     */
    /* margin-top: -250px;
    margin-left: -250px; */
      
}
#play-again img{
    top: -50px;
}
#name-banner{
    width: 100%;
  }

#homeButton{
    position: absolute ;
    right: 0%;
    top: 0%;
    height: 90px;
    width: 100px;
    background-image: url("../images/home-icon-1.png");
    background-repeat: no-repeat;
    background-size: 100%;
    cursor: pointer;  
    border: none;
    margin: 0px 0px 0px 0px;
  
  }
.finalBtns{
    padding: 0px;
    /* border: none; */
    box-shadow: 1cm;
    margin: 15px;
}

#btn1{
    
    /* position: fixed; */
    /* height: 65px; */
    /* top: 20%;
    left: 37%; */
    /* position: fixed;
    left: 50%;
    top: 70%; */
}
#btn2{
    /* position: fixed;
    left: 50%;
    top: 75%; */
    /* height: 65px; */
    /* position: fixed; */
    
    /* top: 20%; */
    /* left: 55%; */
}
#quizButton{
    position: absolute ;
    /* left: 0%; */
    top: 0%;
    height: 90px;
    width: 100px;
    background-image: url("../images/back.png");
    background-repeat: no-repeat;
    background-size: 100%;
    cursor: pointer;  
    border: none;
    margin: 0px 0px 0px 0px;
  }
  #quizButton:hover{
    cursor: pointer;
  }
/* On all vertically oriented types of screens */
@media only screen
{
    .question-div{

        /* position: relative; */
        /* left: 30%; */
    }
    #title{
        position: relative;
        width: 35%;
        left: 5%;
    }
    tr, td{
        margin-left: 35px;
        margin-right: 35px;
        padding: 10px;
    }
    audio{
        /* margin-left: 150px; */
        margin: 15px auto;
    }
    
    /* #intmd-img{
    
    max-width:500px;
    max-height:750px;   
    overflow: hidden;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -200px;
    margin-left: -250px;
    z-index: -1;
    }
    /* #progressBar{
        margin-top: 80px;
        
    } */ 
    
}

/* On screens with a maximum window width of 1280px */
@media screen and (max-width: 1280px)
{
    .question-div{

        /* overflow: hidden; */
        /* position: fixed; */
        /* left: 10%; */
        /* top: 25%; */
        /* margin-top: 40px; */
    }
    audio{
        /* margin-left: 150px; */
    }
    #title{
        /* width: 50%; */
        /* margin-left: 100px; */
    }
    tr, td{
        margin-left: 35px;
        margin-right: 35px;
        padding: 35px;
    }
    #homeButton{
        height: 50px;
        width: 50px;
    }
    #quizButton{
        height: 50px;
        width: 50px;
    }
 

}
/* On all screen types with a window width of between 1024px and 1280px */
@media all and (min-width: 1024px) and (max-width: 1280px)
{
    .question-div{

        /* overflow: hidden; */
        /* position: fixed;
        left: 10%;
        top: 25%;
        margin-top: 40px; */
    }
    audio{
        /* margin-left: 150px; */
    }
    
    #title{
        width: 50%;
        margin-left: 150px;
    }
    tr, td{
        margin-left: 35px;
        margin-right: 35px;
        padding: 35px;
    }
    #homeButton{
        height: 50px;
        width: 50px;
    }
    #quizButton{
        height: 50px;
        width: 50px;
    }
}
@media only screen and (max-width: 768px) {
    .question-div{

        /* overflow: hidden; */
        /* position: fixed;
        left: 5%;
        top: 25%;
        margin-top: 40px; */
    }
    audio{
        /* margin-left: 175px; */
    }
    #title{
        width: 50%;
        margin-left: 150px;
    }
    
    tr, td{
        margin-left: 35px;
        margin-right: 35px;
        padding: 35px;
    }
    #homeButton{
        height: 50px;
        width: 50px;
    }
    #quizButton{
        height: 50px;
        width: 50px;
    }
  }



  